body {
  background-color: #e5e5f7;
  background-image: radial-gradient(#4333ff 1.4500000000000002px, transparent 1.4500000000000002px), radial-gradient(#4333ff 1.4500000000000002px, #e5e5f7 1.4500000000000002px);
  background-size: 58px 58px;
  background-position: 0 0, 29px 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}
#hand {
  width: 5rem;
  height: 5rem;
  margin-right: 0.4rem;
}
#wheel {
  width: 26rem;
  height: 26rem;
  transition: all 8s cubic-bezier(0,.57,.61,0.99);
  filter: drop-shadow(0px 0px 15px #000);   /*drop shadow through transparent png*/
}
#button {
  margin-top: 3rem;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 18px 18px;
  border: 3px solid black;
  border-radius: 40px;
  box-shadow: 0 5px 1.5px #999;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.6rem;
  user-select: none;
}
#button:hover {
  background-color: rgba(0, 0, 0, 0.6)!important;
  cursor: pointer!important;
}
